@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(87, 188, 250);
}

h1 {
    text-align: center;
    padding-top: 10px;
    color: white;
}

main {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.496);
    margin: 10px auto;
    width: 600px;
    text-align: left;
    padding: 20px;
    line-height: 40px;
}

input#button {
    padding: 5px;
}

#img > img {
    border-radius: 200px;
    margin: 30px;
    width: 250px;
    height: 250px;
}

div#res {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 10px;
    color: white;
}